/* Subscriptions Box */

.subscriptionsBox {
  top: 0;
  bottom: 0;
  right: 320px;
  min-width: 240px;
  color: #9AABB6;
  border-left: 2px solid #ECEEEF;
  background-color: #F3F3F3;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  z-index: 1;
}

.subscriptionTop {
  width: 240px;
  height: 70%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.subscriptionAdminBox {
  padding-left: 30px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.subscriptionHeader {
  margin-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  text-align: left;
  text-transform: uppercase;
}

.subscriptionsList {
  height: 90%;
}

.logoAndUsername {
  padding-left: 30px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.channelSubscriptionBar {
  display: flex;
  justify-content: space-between;;
  width: 240px;
  height: 40px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.channelSubscriptionBar:hover {
  background-color: #DADDDF;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.subUserLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userUsername {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  font-size: 14px;
}

.destroySubscriptionBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
  padding-bottom: 10px;
}

.destroySubscriptionButton {
  padding-top: 8px;
  color: #F3F3F3;
}

.destroySubscriptionButton:hover {
  color: #E6544A;
}

.subscriptionFormBox {

}

.subscriptionForm {
  height: 10%;
  width: 180px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscriptionFormTitle {
  text-transform: uppercase;
  padding-bottom: 10px;
}

.subscriptionInput {
  display: flex;
  justify-content: space-between;
  width: 180px;
}

.subscriptionUsernameBox {
  width: 190px;
  background-color: #fff;
  border: 1px solid #DADDDF;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.subscriptionUsernameInput {
  width: 160px;
  padding: 10px;
}

.subscriptionUsernameInput::-webkit-input-placeholder {
  color: #E6544A;
}
.subscriptionUsernameInput::-moz-placeholder {
  color: #E6544A;
}
.subscriptionUsernameInput:-ms-input-placeholder {
  color: #E6544A;
}
.subscriptionUsernameInput:-moz-placeholder {
  color: #E6544A;
}
