/* Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
    display: block;
    margin: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

body, html {
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}

/* Front Page */

:root {
  --main-bg-color: #4d4d4d;
}

.frontPageView {
  height: 100%;
  width: 100%;
  background: var(--main-bg-color);
}

.frontPageHeader {
  height: 100px;
  width: 100%;
}

.frontPageLogoBoxSmall {
  float: left;
  height: 100px;
  width: 100px;
}

.frontPageLogoBoxSmall img {
  width: 100px;
}

.frontPageBody {
  width: 100%;
}

.frontPageContentBox {
  width: 500px;
  height: 100vh;
  margin: auto;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
}

.frontPageLogoBoxLarge img {
  width: 300px;
  margin: auto;
}

.frontPageTagLineBox {
  padding-top: 5px;
  padding-bottom: 25px;
  margin: auto;
  text-align: center;
  font-size: 32px;
  color: #ffffff;
}

.frontPageButtonBox {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-around;
}

.frontPageButton {
  border-radius: 3px;
  margin-bottom: 30px;
  margin-left: 25px;
  margin-right: 25px;
  height: 50px;
  width: 200px;
  text-align: center;
  background: #ffffff;
  color: var(--main-bg-color);
  box-shadow: 0 5px #27496d;
}

.frontPageButton:hover {
  box-shadow: 0 3px #27496d;
  transform: translateY(2px);
}

.frontPageButton:active {
  transform: translateY(3px);
}

/* Log In & Sign Up */

.sessionView {
  justify-content: center;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.loginBackground {
  background-image: url("http://wallpapercave.com/wp/rxXhHYr.jpg");
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-backdrop-filter: blur(5px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  backdrop-filter: blur(5px);
}

.signupBackground {
  background-image: url("http://www.zastavki.com/pictures/originals/2015/Games_The_battle_in_the_game_World_of_Warcraft_Mists_of_Pandaria_101685_.png");
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.sessionFormBoxOuter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 628px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.sessionFormBoxInner {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 420px;
}

.sessionFormBoxLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 40%;
  height: 100%;
  background-color: rgba(255,255,255,.8);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.sessionformLogo {
  display: flex;
  justify-content: center;
}

.sessionFormLogo img {
  width: 215px;
}

.sessionFormBoxRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  height: 100%;
  background-color: rgba(40,43,48,.8);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.sessionFormHeader {
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 35px;
}

.sessionForm {
  font-size: 11px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  color: #bfbfbf;
  width: 100%;
  height: 70%;
}

.sessionErrors {
  color: red;
}

.sessionInputBox {
  float: top;
}

.sessionUsernameBox {
  padding: 0px 0px 20px 30px;
}

.usernameWord {
  padding-bottom: 10px;
}

.sessionPasswordBox {
  padding: 0px 0px 80px 30px;
}

.passwordWord {
  padding-bottom: 10px;
}

.sessionInput {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  padding-bottom: 8px;
  border-bottom: 2px solid rgba(255,255,255,.1);
  width: 335px;
}

.sessionInput:focus {
  border-bottom: 2px solid #fff;
}

.sessionSubmitBoxOuter {
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sessionSubmitBoxInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sessionSubmitButton {
  margin: auto;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  width: 335px;
  height: 55px;
  background-color: #7289da;
  border-radius: 3px;
  box-shadow: 0 5px #27496d;
}

.sessionSubmitButton:hover {
  box-shadow: 0 3px #27496d;
  transform: translateY(2px);
}

.sessionSubmitButton:active {
  transform: translateY(3px);
}

.sessionFormFooter {
  font-size: 11px;
  padding-left: 35px;
  color: #bfbfbf;
}

.sessionFormFooter a, a:visited, a:link, a:active {
  color: #fff;
  text-decoration: none;
}

.sessionFormFooter a:hover {
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid #fff;
}

/* Channel Nav Bar */

.channelNavBarBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  background-color: #1E2124;
}

.channelNavBar {
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.meChannelButtonBox {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.meChannelButton {
  padding: 10px;
}

.meChannelButtonImage {
  border-radius: 50%;
  border-radius: 50px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.meChannelButtonImage:hover {
  border-radius: 15px;
  background-color: #fff;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.navBarSeparator {
  position: absolute;
  top: 0;
  left: 20%;
  right: 20%;
  content: ' ';
  height: 2px;
  background: #2e3136;
}

.channelNavBarButtons {
  border-radius: 15px;
}

.channelButtonBox {
  display: flex;
  justify-content: center;
}

.channelNavBarButton {
  padding: 10px 15px 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.channelButton {
  padding: 5px;
}

.channelNavBarButtonImage {
  padding: 0px;
  border-radius: 50%;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.channelNavBarButtonImage:hover {
  border-radius: 15px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.createChannelButtonBox {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.createChannelButton {
  color: #535559;
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  font-size: 40px;
  font-weight: 200;
  border-radius: 50%;
  border: 1px dashed #535559;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.createChannelButton:hover {
  color: #f2f2f2;
  border: 1px dashed #f2f2f2;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.createChannelFormBoxOuter {
  position: absolute;
  display: flex;
  justify-content: flex-start;
}

.createChannelFormBoxInner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Modal Create Channel Form */

.createChannelFormBoxOuter {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.createChannelFormBoxInner {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.closeCreateChannelForm {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeCreateChannelForm:hover,
.closeCreateChannelForm:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Text Channel Nav Bar */

.textChannelNavBarBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 80px;
  height: 100%;
  width: 240px;
  display: flex;
  justify-content: center;
  background-color: #2E3136;
  font-family: 'Open Sans', sans-serif;
  color: #6C6E72;
}

.textChannelNavBar {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.textChannelNavBarHeaderBox {
  height: 56px;
  width: 100%;
  border-bottom: 2px solid #24272B;
  display: flex;
  justify-content: left;
}

.textChannelTitleHeader {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
}

.textChannelTitleHeader span {
  width: 50%;
  height: 50%;
  font-size: 12px;
  color: #fff;
  line-height: 27px;
}

.textChannelNavBarTitleBox {
  height: 56px;
  width: 100%;
  padding-top: 25px;
  padding-left: 20px;
}

.textChannelNavBarTitle {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}


/* Modal Create Channel Form */

.createTextChannelFormBoxOuter {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.createTextChannelFormBoxInner {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.closeCreateTextChannelForm {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeCreateTextChannelForm:hover,
.closeCreateTextChannelForm:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
