/* Channel Nav Bar */

.channelNavBarBackground {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  display: flex;
  justify-content: center;
  background-color: #1E2124;
}

.channelNavBar {
  position: absolute;
  top: 0;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.meChannelButtonBox {
  min-height: 80px;
  max-width: 80px;
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-content: center;
}

.meChannelButton {
}

.meChannelButtonImage {

}

.meChannelButtonImage:hover {

}

.navBarSeparator {
  margin-left: 20px;
  margin-bottom: 13px;
  width: 40px;
  min-height: 2px;
  background: #616365;
}

.channelNavBarButtons {
  border-radius: 15px;
}

.channelNavBarButtonImage {
  height: 50px;
  size: 50px;
}

.channelButtonBox {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}

.activeChannelBar {
  left: 6px;
  width: 6px;
  height: 40px;
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.inactiveChannelBar {
  width: 6px;
  background-color: #1E2124;
}

.channelNavHoverBox {
  display: flex;
}

.channelNavHover {
  display: none;
  text-align: center;
  line-height: 25px;
  width: 80px;
  border-radius: 4px;
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background-color: #e6544a;
}

.channelButtonBox:hover span {
  display: block;
  flex-shrink: 0;
  position: absolute;
  top: 20px;
  left: 75px;
  z-index: 1;
}

.channelNavBarButton {
  padding: 10px 15px 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.channelButton {
  padding: 5px 5px 5px 9px;
  border-radius: 15px;
}

.channelButtonText {
  border-radius: 50%;
  background-color: #2E3136;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.inactiveChannelNavBarButtonImage {
  padding: 0px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.activeChannelNavBarButtonImage {
  border-radius: 15px;
  height: 50px;
  width: 50px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.inactiveChannelNavBarButtonImage:hover {
  border-radius: 15px;
  height: 50px;
  width: 50px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.inactiveText {
  height: 50px;
  width: 50px;
  font-size: 20px;
  background-color: #2E3136;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  border-radius: 50%;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.activeText, .inactiveText:hover {
  height: 50px;
  width: 50px;
  font-size: 20px;
  background-color: #2E3136;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  border-radius: 15px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.createChannelButtonBox {
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
}

.createChannelButton {
  color: #535559;
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
  font-size: 40px;
  font-weight: 200;
  border-radius: 50%;
  border: 1px dashed #535559;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.createChannelPlus {
  padding-bottom: 5px;
}

.createChannelButton:hover {
  color: #f2f2f2;
  border: 1px dashed #f2f2f2;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

/* Modal Create Channel Form */

.createChannelFormBoxOuter {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #fff;
  position: absolute;
  z-index: 5;
  left: 80px;
  top: 28%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.9);
  text-transform: uppercase;
}

.createChannelFormBoxInner {
  width: 200px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  align-items: center;
}

.createChannelTitle {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 0px 20px 0px;
}

.channelWord, .descriptionWord, .iconurlWord {
  padding: 5px 0px 5px 0px;
}

.titleInputLine, .descriptionInputLine, .urlInputLine {
  width: 200px;
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}

.channelInput {
  width: 200px;
}

.channelSubmitBox {
  padding-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.closeCreateChannelForm {
  color: #fff;
  float: right;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.closeCreateChannelForm:hover,
.closeCreateChannelForm:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.channelSubmitButton:hover {
  color: #8cff66;
}

.closeCreateChannelForm:hover {
  color: #e6544a;
}
