/* All Direct Message related CSS */

.directMessageWord {
  margin-bottom: 10px;
}

.directMessageLeftSide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.directMessageUserLogo {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  margin-right: 15px;
  display: flex;
  text-align: center;
  align-content: center;
  color: #fff;
}

.directMessageUserLogoLetter {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #e6544a;
  font-size: 15px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.activeDirectMessageButton,
.inactiveDirectMessageButton {
  height: 40px;
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.inactiveDirectMessageButton {
  color: #6C6E72;
}

.inactiveDirectMessageButton:hover, .activeDirectMessageButton {
  background-color: #282B30;
  color: #fff;
}

.destroyDirectMessageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
  padding-bottom: 10px;
}

.invisibleDirectMessageBox {
  display: none;
}

.activeDirectMessageButton .destroyDirectMessageButton {
  color: #282B30;
}

.activeDirectMessageButton:hover .destroyDirectMessageButton,
.inactiveDirectMessageButton:hover .destroyDirectMessageButton {
  color: #66686C;
}

.destroyDirectMessageButton {
  padding-top: 8px;
  color: #2E3136;
}

.destroyDirectMessageBox:hover .destroyDirectMessageButton:hover {
  color: #E6544A;
}

.directMessageHeaderBox {
  min-height: 56px;
  width: 100%;
  border-bottom: 2px solid #24272B;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.directMessageFormBoxOuter {
  background-color: #282B30;
  border-radius: 6px;
  margin: auto;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.createDirectMessageForm {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.createDirectMessageNameBox {
  height: 32px;
  width: 210px;
  border-radius: 6px;
  border: 2px solid #212327;
  background-color: #24272B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.directMessageInputLine {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.directMessageInput {
  color: #fff;
  height: 26px;
  width: 190px;
  margin-left: 15px;
  margin-right: 5px;
}

.fa-search {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.directMessageInput::-webkit-input-placeholder {
  color: #6C6E72;
}

.directMessageInput::-moz-placeholder {
  color: #6C6E72;
}

.directMessageInput:-ms-input-placeholder {
  color: #6C6E72;
}

.directMessageInput:-moz-placeholder {
  color: #6C6E72;
}

.withErrors::-webkit-input-placeholder {
  color: #E6544A;
}

.withErrors::-moz-placeholder {
  color: #E6544A;
}

.withErrors:-ms-input-placeholder {
  color: #E6544A;
}

.withErrors:-moz-placeholder {
  color: #E6544A;
}

.meSplashContainer {
  position: fixed;
  height: 100%;
  width: 75%;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  z-index: -10;
}

.meSplashPageInnerContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: -10;
}

.meSplashContainerLogo {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 80px;
  z-index: -10;
}

/* Me Channel Button */

.activeMeChannelButton, .inactiveMeChannelButton:hover {
  border-radius: 15px;
  background-color: #e6544a;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.inactiveMeChannelButton {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #2E3136;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.blankSubscriptionsBox {
  top: 0;
  bottom: 0;
  right: 320px;
  min-width: 240px;
  color: #9AABB6;
  border-left: 2px solid #ECEEEF;
  background-color: #F3F3F3;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.blankSubLogo {
  padding-bottom: 50px;
}
