/* Front Page */

:root {
  --main-bg-color: #F6F7F9;
}

.frontPageView {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-direction: flex-start;
  background: var(--main-bg-color);
}

.frontPageHeader {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.frontPageHeader img {
  margin: 0px;
  padding-top: 15px;
  padding-left: 15px;
  height: 100px;
  width: 100px;
}

.frontPageBody {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.frontPageTagLineBox {
  width: 500px;
  padding-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  font-size: 32px;
  color: black;
}

.frontPageButtonBox {
  width: 500px;
  height: 50px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
}

.frontPageButton {
  border-radius: 3px;
  margin-bottom: 30px;
  height: 50px;
  width: 200px;
  text-align: center;
  background-color: #fff;
  color: black;
  border: 5px solid #e6544a;
  box-shadow: 0 10px #ca271c;
}

.frontPageButton:hover {
  background-color: #fff;
  color: #e6544a;
  box-shadow: 0 8px #ca271c;
  transform: translateY(2px);
}

.frontPageButton:active {
  background-color: #e6544a;
  color: #fff;
  box-shadow: 0 0px #ca271c;
  transform: translateY(10px);
}

.frontPageLogoLarge {
  width: 800px;
  margin: auto;
}
