/* Create Text Channel Form */

.createTextChannelFormBoxOuter {
  margin-left: 20px;
  width: 200px;
}

.createTextChannelFormBoxInner {

}

.createTextChannelForm {

}

.createTextChannelNameBox {

}

.textChannelInputLine {
  height: 32px;
  width: 200px;
  border-radius: 6px;
  border: 2px solid #212327;
  background-color: #24272B;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textChannelInput {
  color: #fff;
  width: 180px;
  margin-left: 10px;
  margin-right: 10px;
}

.textChannelInput::-webkit-input-placeholder {
  color: #6C6E72;
}
.textChannelInput::-moz-placeholder {
  color: #6C6E72;
}
.textChannelInput:-ms-input-placeholder {
  color: #6C6E72;
}
.textChannelInput:-moz-placeholder {
  color: #6C6E72;
}

.newTextChannelSubmitBox {
}

/* Edit Text Channel Form */

.textChannelEditButton:hover {
  color: black;
}

.editTextChannelBox {
  width: 95%;
  min-height: 57px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #eceeef;
}

.editTextChannelNameBorderedBox {
  margin-left: 15px;
  width: 27%;
  height: 30px;
  border-radius: 3px;
  border: 2px solid #dadddf;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.editTextChannelNameBorderedBox .textChannelChatBoxHash {
  padding: 0px 3px 0px 3px;
}

.editTextChannelBox .textChannelChatBoxSeparator {
  padding: 0px 12px 5px 12px;
}

.editTextChannelDescriptionBorderedBox {
  width: 90%;
  height: 30px;
  border-radius: 3px;
  border: 2px solid #dadddf;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.editTextChannelForm {
  width: 100%;
  min-height: 57px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.editTextChannelNameBox {
  width: 50%;
  color: #4f545c;
  font-size: 17px;
  font-weight: 700;
  line-height: 1px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textChannelTitleInput {
  width: 97%;
}

.editTextChannelDescriptionBox {
  width: 97%;
  height: 23px;
  color: #cdcdcd;
  font-size: 12px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textChannelSubmitBox {
  display: flex;
  justify-content: space-between;;
  align-items: center;
  color: #737f8d;
}

.textChannelSubmitButton {
  margin-left: 50px;
  margin-right: 30px;
}

.textChannelSubmitButton:hover, .closeEditTextChannelForm:hover {
  color: black;
}
