/* Text Channel Chat Box */

.textChannelChatBoxBackground {
  position: fixed;
  top: 0;
  bottom: 0px;
  left: 320px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.textChannelChatBox {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.textChannelChatBoxHeader {
  width: 100%;
  min-height: 57px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #eceeef;
}

.textChannelChatBoxHash {
  color: #8a8e94;
  font-size: 20px;
  font-weight: 300;
  padding-left: 20px;
  padding-right: 3px;
}

.textChannelChatBoxName {
  color: #4f545c;
  font-size: 17px;
  font-weight: 700;
  line-height: 1px;
}

.textChannelChatBoxSeparator {
  color: #e9e7e7;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  padding: 0px 16px 5px 16px;
}

.textChannelChatBoxDescription {
  color: #cdcdcd;
  font-size: 12px;
}

.textChannelMessagesBox {
  width: 100%;
  overflow: scroll;
}

.textChannelMessageBox {
  width: 60%;
  display: inline-block;
  margin-left: 20px;
  margin-right: 6px;
  padding: 15px 0px 15px 0px;
  border-top: 1px solid #eceeef;
  flex-direction: column;
  justify-content: left;
  z-index: -1;
}

.textChannelMessageHeader {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  margin-bottom: 5px;
}

.textChannelMessageAuthor {
  padding-right: 10px;
  font-size: 16px;
}

.textChannelMessageTime {
  font-size: 12px;
  color: #99aab5;
  padding-bottom: 1px;
}

.textChannelMessageBody {
  display: flex;
  justify-content: space-between;
}

.textChannelMessageMessage {
  color: #737f8d;
}

.textChannelMessageChange {
  min-width: 70px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;;
}

.messageEditButton {
  opacity: 0;
}

.messageDeleteButton {
  opacity: 0;
}

.textChannelMessageBody:hover .messageEditButton {
  opacity: 100;
  color: #737f8d;
}

.textChannelMessageBody:hover .messageDeleteButton {
  opacity: 100;
  color: #737f8d;
}

.messageBoxOuter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.createMessageBox {
  border-top: 1px solid #eceeef;
  position: absolute;
  min-height: 96px;
  width: 100%;
  bottom: 0;
}

.editMessageBox {
  width: 100%;
  color: #737f8d;
}

.editMessageBox .messageBoxInner {
  width: 100%;
  height: 46px;
  border-radius: 3px;
  border: 2px solid #dadddf;
}

.createMessageBox .messageBoxInner {
  width: 60%;
  height: 46px;
  margin-left: 20px;
  border-radius: 3px;
  border: 2px solid #dadddf;
}

.createMessageForm {
  width: 100%;
  min-height: 46px;
  display: flex;
  justify-content: flex-start;
}

.textMessageSubmitBox {
  min-height: 46px;
  width: 36px;
  border-right: 1px solid #F0F0F0;
  font-size: 30px;
  color: #747F8D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createMessageBodyBox {
  padding-left: 15px;
  min-height: 46px;
  width: 90%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.messageInput {
  width: 100%;
  color: #747F8D;
}

::-webkit-input-placeholder {
  color: #E4E6E8;
}
::-moz-placeholder {
  color: #E4E6E8;
}
:-ms-input-placeholder {
  color: #E4E6E8;
}
:-moz-placeholder {
  color: #E4E6E8;
}
