<!DOCTYPE html>
<html>
<head>
  <title>Smack-talk For Gaming</title>
  <script src="./vendor/assets/javascripts/pusher.js"></script>
  <script src="./vendor/assets/javascripts/fontawesome.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href="./vendor/assets/stylesheets/josefin.css" rel='stylesheet'>
  <link href="./vendor/assets/stylesheets/opencondensed.css" rel="stylesheet">
  <link href="./vendor/assets/stylesheets/open.css" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
